<template>
  <div>
    <h3>Profile List</h3>
    <p>Click the avatar for details.</p>
    <div class="row">
      <div v-for="profile in profiles" class="col-sm-6 col-md-4 col-lg-3 mb-3" :key="profile.id">
        <div class="card h-100">
          <router-link :to="userDetail(profile)">
            <v-gravatar :email="profile.user.email"
                        :alt="profile.user.first_name"
                        class="card-img-top"
                        v-b-tooltip.hover
                        :title="profile.user.email"
                        to=""
            ></v-gravatar></router-link>
          <div class="card-block">
            <h4 class="text-center mb-0">
              <fa-icon name="diamond"
                       v-if="profile.user.is_superuser"
                       title="has administrative powers"
                       v-b-tooltip.hover></fa-icon> {{ profile.full_name }}
            </h4>
            <p class="card-text text-center">
              {{ profile.current_position || 'seeking oportunities' }}
            </p>
            <p class="card-text text-center p-3">
              {{ profile.about || 'Apparently, this user prefers to keep an air of mystery about them.' }}
            </p>
            <div class="p-3 text-center">
              <b-badge v-for="topic in sortTopics(profile.favorite_topics, currentUser)"
                       class="mr-1"
                       :title="topic.description"
                       v-b-tooltip.hover
                       :key="profile.id + '-' + topic.id"
              >{{ topic.name }}
              </b-badge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: 'home',
    computed: {
      isAuthenticated () {
        return this.$store.getters.isAuthenticated
      },
      profiles () {
        return this.$store.getters.profiles
      },
      currentUser () {
        return this.$store.getters.currentUser
      }
    },
    methods: {
      fetchData () {
        this.$store.dispatch('refreshProfiles')
      },
      userDetail (profile) {
        return '/user/' + profile.id
      },
      sortTopics (topics, currentUser) {
        topics = _.sortBy(topics, 'name')
        if (_.isEmpty(currentUser)) {
          return topics
        }
        const userTopics = currentUser.favorite_topics
        return _.concat(
          _.intersectionBy(topics, userTopics, 'name'),
          _.differenceBy(topics, userTopics, 'name')
        )
      }
    },
    created () {
      this.fetchData()
    },
    watch: {
      $route: 'fetchData'
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
