<template>
  <div class="loading" v-show="loading">
    <letter-cube size="100px"></letter-cube>
  </div>
</template>

<script>
  import {RotateSquare5} from 'vue-loading-spinner'

  export default {
    components: {
      'letter-cube': RotateSquare5
    },
    computed: {
      loading () { return this.$store.getters.loading }
    }
  }
</script>

<style>
  .loading {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
