<template>
  <div>
    <h1>Login</h1>
    <p>
      You can try any user from the <a href="/">profile list</a> (hover over the avatar in order to see the email).
    </p>
    <p>The super user is <b>root@eruditorum.org</b> and password is <b>123testing</b> for all sample profiles.</p>

    <b-alert v-for="(alert, index) in alerts" show :variant="alert.type" :key="index">{{ alert.msg }}</b-alert>
    <b-form @submit="onSubmit" @reset="onReset">
      <div class="row">
        <b-form-group label="Username:" label-for="id_username" class="col-md-6">
          <b-form-input id="id_username" type="text" v-model="form.username" required
                        placeholder="Enter username"></b-form-input>
        </b-form-group>
        <b-form-group label="Password:" label-for="id_password" class="col-md-6">
          <b-form-input id="id_password" type="password" v-model="form.password" required
                        placeholder="Enter password"></b-form-input>
        </b-form-group>
      </div>
      <b-button type="submit" variant="secondary">Submit</b-button>
      <b-button type="reset" variant="outline-secondary">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
    name: 'login',
    data () {
      return {
        form: {
          username: '',
          password: ''
        },
        alerts: []
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        this.$store.dispatch('authenticate', this.form).then(
          () => {
            this.alerts.splice(0, 1, {msg: 'login ok! redirecting you to the home.', type: 'success'})
            this.$router.go(-1)
          },
          (error) => {
            this.alerts.splice(0, 1, {msg: 'Invalid email or password', type: 'danger'})
            console.log(error)
          }
        )
      },
      onReset (evt) {
        evt.preventDefault()
        this.form.username = ''
        this.form.password = ''
      }
    }
  }
</script>

