<template>
  <div>
    <h1>Bye Bye!</h1>
    <p>You are logged out. Miss you already!</p>
    <p><fa-icon :name="face" scale="5"></fa-icon></p>
    <h1 v-if="hired">Sweeeeet!</h1>
    <b-button v-else variant="outline-danger" @click="hire">Don't forget to hire Paulo!</b-button>
  </div>
</template>

<script>
  export default {
    name: 'logout',
    data () {
      return {
        face: 'frown-o',
        hired: false
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout')
      },
      hire () {
        this.face = 'smile-o'
        this.hired = true
      }
    },
    created () {
      this.logout()
    },
    watch: {
      $route: 'logout'
    }
  }
</script>
