<template>
  <div>
    <div v-if="isAuthenticated" class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <v-gravatar :email="email(profile)" :alt="name(profile)" class="card-img-top"></v-gravatar>
        <small>{{ email(profile) }}</small>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-6">
        <h1 class="mb-0">Edit Profile</h1>

        <b-alert v-for="(alert, index) in alerts" show :variant="alert.type" :key="index">{{ alert.msg }}</b-alert>
        <b-form @submit="onSubmit" @reset="onReset">
          <div class="row">
            <b-form-group label="First name:" label-for="id_first_nsme" class="col-md-6">
              <b-form-input v-model="form.first_name" id="id_first_name" placeholder="Enter your first name"
                            required :class="hasError('first_name')"></b-form-input>
            </b-form-group>
            <b-form-group label="Last name:" label-for="id_last_name" class="col-md-6">
              <b-form-input v-model="form.last_name" id="id_last_name" placeholder="Enter your last name"
                            required :class="hasError('last_name')"></b-form-input>
            </b-form-group>
          </div>
          <b-form-group label="Current position:" label-for="id_current_position">
            <b-form-input v-model="form.current_position" id="id_current_position"
                          placeholder="Enter your current position" required
                          :class="hasError('current_position')"></b-form-input>
          </b-form-group>
          <b-form-group label="About you:" label-for="id_about">
            <b-form-textarea rows="3" v-model="form.about" id="id_about" placeholder="Enter some information about you"
                             :class="hasError('about')" required></b-form-textarea>
            <div class="invalid-feedback" v-for="(error, index) in errors.about">{{ error }}</div>
          </b-form-group>
          <b-form-group label="Favorite topics:">
            <div class="alert alert-danger" v-for="(error, index) in errors.favorite_topics">{{ error }}</div>
            <div>
              <b-form-checkbox class="col-lg-3 col-md-2"
                               v-for="topic in form.topics"
                               v-model="topic.prefered"
                               :key="topic.id">{{ topic.name }}</b-form-checkbox>
            </div>
          </b-form-group>
          <b-button type="submit" variant="secondary">Save</b-button>
          <b-button type="reset" variant="outline-secondary">Reset</b-button>
        </b-form>
      </div>
    </div>
    <div v-else>
      <h3>Login required.</h3>
      <p>You should not be here. Bad bad you.</p>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    data () {
      return {
        form: {
          id: null,
          first_name: '',
          last_name: '',
          current_position: '',
          about: '',
          topics: []
        },
        alerts: [],
        errors: {}
      }
    },
    computed: {
      isAuthenticated () {
        return !_.isEmpty(this.profile)
      },
      profile () {
        return this.$store.getters.currentUser
      }
    },
    mounted () {
      this.onReset()
    },
    methods: {
      email (profile) { return _.isEmpty(profile) ? '' : profile.user.email },
      name (profile) { return _.isEmpty(profile) ? '' : profile.full_name },
      onReset (evt) {
        if (evt !== undefined) {
          evt.preventDefault()
        }
        // TODO: there must be a better way to wait this.profile.
        if (_.isEmpty(this.profile)) {
          setTimeout(this.onReset, 100)
          return
        }
        let profile = this.profile
        let topics = JSON.parse(JSON.stringify(profile.all_topics))
        this.form.id = profile.id
        this.form.first_name = profile.user.first_name
        this.form.last_name = profile.user.last_name
        this.form.current_position = profile.current_position
        this.form.about = profile.about
        this.form.topics.splice(0)
        topics.forEach((topic, i) => { this.form.topics.push(topic) })
        this.alerts.splice(0)
        _.each(this.errors, (v, k) => { _.unset(this.errors, k) })
      },
      onSubmit (evt) {
        evt.preventDefault()
        this.$store.dispatch('updateProfile', this.form).then(
          (response) => {
            this.alerts.splice(0)
            this.alerts.push({msg: 'Profile saved.', type: 'success'})
            _.each(this.errors, (v, k) => { _.unset(this.errors, k) })
            this.$router.push({name: 'UserDetail', params: {id: response.data.id}})
          },
          (response) => {
            this.alerts.splice(0)
            if (response.data.non_field_errors) {
              this.alerts.push({msg: response.data.non_field_errors.join(' / '), type: 'danger'})
            } else {
              this.alerts.push({msg: 'Error saving profile, check for clues below.', type: 'danger'})
            }
            console.log(response.data)
            _.each(response.data, (v, k) => { this.errors[k] = v })
          }
        )
      },
      hasError (fieldName) {
        return (this.errors[fieldName] && this.errors[fieldName].length) ? 'is-invalid' : 'is-valid'
      }
    }
  }
</script>
