<template>
  <div>
    <h1>Sign Up</h1>
    <p>Sign up for the awesome Udemy Code Challenge!</p>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group label="Email:" label-for="id_email">
        <b-form-input v-model="form.email" id="id_email" :class="hasError('email')" type="email" placeholder="email@example.com"></b-form-input>
        <div class="invalid-feedback" v-for="(error, index) in errors.email">{{ error }}</div>
      </b-form-group>
      <b-form-group label="Password:" label-for="id_password">
        <b-form-input v-model="form.password" required
                      id="id_password" type="password"
                      :class="hasError('password')"
                      placeholder="Enter password"></b-form-input>
        <div class="invalid-feedback" v-for="(error, index) in errors.password">{{ error }}</div>
      </b-form-group>
      <b-form-group label="Password confirmation:" label-for="id_confirmation">
        <b-form-input v-model="form.confirmation" required
                      id="id_confirmation" type="password"
                      :class="hasError('confirmation')"
                      placeholder="Confirm password"></b-form-input>
        <div class="invalid-feedback" v-for="(error, index) in errors.confirmation">{{ error }}</div>
      </b-form-group>
      <b-button type="submit" variant="secondary">Submit</b-button>
      <b-button type="reset" variant="outline-secondary">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
    name: 'signup',
    data () {
      return {
        form: {
          email: '',
          password: '',
          confirmation: ''
        },
        errors: {}
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        this.$store.dispatch('createProfile', this.form).then(
          () => {
            this.$router.push({name: 'Profile'})
          },
          (error) => {
            this.errors = error.data
          }
        )
      },
      onReset (evt) {
        evt.preventDefault()
      },
      hasError (fieldName) {
        return (this.errors[fieldName] && this.errors[fieldName].length) ? 'is-invalid' : 'is-valid'
      }
    }
  }
</script>
