<template>
  <div class="row" v-if="profile">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <v-gravatar :email="email(profile)" :alt="name(profile)" class="card-img-top"></v-gravatar>
      <small>{{ email(profile) }}</small>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <div><small>Name:</small><h3>{{ profile.full_name }}</h3></div>
      <p><small>Email:</small><br>{{ profile.user.email }}</p>
      <p><small>Current position:</small><br>{{ profile.current_position }}</p>
      <p><small>Tagline:</small><br>{{ profile.about }}</p>
      <p><small>Date joined:</small><br>{{ formatDate(profile.user.date_joined) }}</p>
      <p><small>Last login:</small><br>{{ formatDate(profile.user.last_login) }}</p>
      <div><small>Favorite topics:</small>
        <ul>
          <li v-for="topic in sortedTopics">{{ topic.name }}</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-3"><small>Is active:</small><br> {{ profile.user.is_active }}</div>
        <div class="col-md-4 col-lg-3"><small>Is staff:</small><br> {{ profile.user.is_staff }}</div>
        <div class="col-md-4 col-lg-3"><small>Is super admin:</small><br> {{ profile.user.is_superuser }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import moment from 'moment'

  const apiRoot = '/api'

  export default {
    data () {
      return {
        profile: null
      }
    },
    methods: {
      email (profile) { return _.isEmpty(profile) ? '' : profile.user.email },
      name (profile) { return _.isEmpty(profile) ? '' : profile.full_name },
      updateProfile (response) {
        this.profile = response.data
        this.$store.dispatch('loaded')
      },
      errorMessage (response) {
        console.log(response.data)
      },
      fetchData () {
        this.$store.dispatch('loading')
        this.$http.get(apiRoot + '/profiles/' + this.$route.params.id + '/')
          .then(this.updateProfile, this.errorMessage)
          .finally(() => {
            this.$store.dispatch('loaded')
          })
      },
      formatDate (iso) {
        return moment(iso).format('MMMM Do YYYY, h:mm:ss a')
      }
    },
    created () {
      this.fetchData()
    },
    computed: {
      currentUser () {
        return this.$store.getters.currentUser
      },
      sortedTopics () {
        if (!this.profile) {
          return []
        }
        const topics = _.sortBy(this.profile.favorite_topics, 'name')
        if (_.isEmpty(this.currentUser)) {
          return topics
        }
        const userTopics = this.currentUser.favorite_topics
        return _.concat(
          _.intersectionBy(topics, userTopics, 'name'),
          _.differenceBy(topics, userTopics, 'name')
        )
      }
    },
    watch: {
      $route: 'fetchData'
    }
  }
</script>
