<template>
  <div id="app">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">Udemy Code Challenge</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/" exact>Home</b-nav-item>
          <b-nav-item href="/api/docs/" target="_blank">API Docs</b-nav-item>
          <b-nav-item href="/admin/" target="_blank" v-show="isSuperuser">Admin</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto" v-if="isAuthenticated">
          <b-nav-item-dropdown right>
            <template slot="button-content">
              <fa-icon name="user"></fa-icon> {{ userLabel }}
            </template>
            <b-dropdown-item to="/profile">Edit profile</b-dropdown-item>
            <b-dropdown-item to="/logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto" v-else>
          <b-nav-form right>
            <b-button variant="outline-secondary" to="/login" class="mr-2">Log In</b-button>
            <b-button variant="secondary" v-show="!isAuthenticated" to="/sign-up">Sign Up</b-button>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div class="container mt-4">
      <router-view></router-view>
    </div>

    <loading></loading>
  </div>
</template>

<script>
import Loading from './components/Loading'

export default {
  name: 'app',
  components: {
    Loading
  },
  computed: {
    isAuthenticated () { return this.$store.getters.isAuthenticated },
    currentUser () { return this.$store.getters.currentUser },
    userLabel () { return this.$store.getters.currentUserLabel },
    loading () { return this.$store.getters.loading },
    isSuperuser () { return this.$store.getters.isSuperuser }
  }
}
</script>

<style>
  h1, h2, h3, h4, h5, h6 {
    color: #0c5460;
  }
</style>
